html {
  height: 100%;
  width: 100%;
}

body {
  height: 100%;
  width: 100%;
  color: white;
  font-size: 11pt;
}

button:focus {
  outline: 0;
}

#root {
  height: 100%;
  width: 100%;
}

.App {
  height: 100%;
  width: 100%;
}

/**********
 * LAYOUT *
 **********/

#left {
  height: 100%;
  width: 66%;
  float: left;
  background-color: black;
}

#rounds {
  padding: 15px 0px 15px 0px;
  height: 10%;
  width: 80%;
  float: left;
  background-color: #1C1C1C;
}

.round {
  margin-left: 0.1%;
  margin-right: 0.1%;
  height: 100%;
  width: 3.125%;
  float: left;
  background-color: #1C1C1C;
  border: 1px solid white;
  border-radius: 3px;
}

.roundActive {
  animation: blink 1s step-end infinite alternate;
  -webkit-animation: blink 1s step-end infinite alternate;
}

.terrorists {
  color: black;
  background-color: #F0C557;
}

.cts {
  color: black;
  background-color: #88C3F3;
}

.winReason {
  height: auto;
  width: 100%;
}

#economy {
  padding: 15px 0px 15px 5px;
  height: 10%;
  width: 10%;
  float: left;
  background-color: #1C1C1C;
}

#economyBtn {
  padding: 2px;
  height: 100%;
  width: 100%;
  background-color: #1C1C1C;
}

#economyBtn:hover {
  padding: 0px;
  background-color: #444444;
}

#economyVisual {
  position: absolute;
  top: 10%;
  left: 0;
  height: 50%;
  width: 66%;
  z-index: 1;
  background-color: #1C1C1C;
  border: 2px solid white;
}

#map {
  padding: 15px 0px 15px 5px;
  height: 10%;
  width: 10%;
  float: left;
  background-color: #1C1C1C;
}

#mapBtn {
  padding: 10px;
  height: 100%;
  width: 100%;
  background-color: #1C1C1C;
}

#mapBtn:hover {
  padding: 9px;
  background-color: #444444;
}

#mapVisual {
  position: absolute;
  top: 15%;
  left: 10%;
  height: 772px;
  width: 972px;
  z-index: 1;
  display: inline-block;
  background-color: #1C1C1C;
  border: 2px solid white;
}

#mapOptions {
  padding: 10px;
  height: 100%;
  width: 200px;
  float: left;
  border-right: 2px solid white;
}

#mapGraph {
  height: 100%;
  width: 768px;
  float: left;
}

#media {
  height: 90%;
  width: 100%;
  float: left;
  clear: left;
}

#sidebar {
  padding: 15px 20px;
  height: 100%;
  width: 34%;
  float: right;
  background-color: #1C1C1C;
}

.title {
  margin-top: 5%;
  margin-bottom: 5%;
  height: 2.5%;
  width: 100%;
  float: left;
  color: black;
  font-size: 12pt;
  font-weight: bold;
  text-align: center;
  background-color: white;
  border: 2px solid white;
  border-radius: 3px;
}

.titleTop {
  margin-top: 0;
}

#scoreboard {
  height: 34%;
  width: 100%;
  float: left;
  color: black;
}

#team1 {
  height: 100%;
  width: 50%;
  float: left;
  background-color: #F0C557;
}

#team2 {
  height: 100%;
  width: 50%;
  float: left;
  background-color: #88C3F3;
}

.teamName {
  padding-top: 2px;
  height: 10%;
  width: 100%;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  border: 1px solid black;
}

.player {
  padding: 5px 5px 0px 5px;
  height: 18%;
  float: left;
  border: 1px solid black;
}

#money {
  padding: 0px 1px 0px 1px;
  height: 10%;
  width: 100%;
  float: left;
  clear: left;
  text-align: center;
}

.progress {
  margin-top: 3px;
  margin-bottom: 5px;
}

.progress-bar-warning {
  background-color: #F0C557;
}

.progress-bar-info {
  background-color: #88C3F3;
}

#damage {
  height: 33%;
  width: 100%;
  float: left;
  clear: left;
}

#damageGraph {
  margin-right: 25px;
}

/******************
 * HELPER CLASSES *
 ******************/

.fullsize {
  height: 100%;
  width: 100%;
}

 .image {
   height: 100%;
   width: auto;
 }

.fill {
  height: 99%;
  width: 100%;
}

.left-text {
  text-align: left;
}

.middle-text {
  text-align: center;
}

.right-text {
  text-align: right;
}

.left-float {
  float: left;
}

.middle-float {
  float: center;
}

.right-float {
  float: right;
}

.left-block {
  float: left;
}

.middle-block {
  display: inline-block;
}

.right-block {
  float: right;
}

.TC1 {
  width: 25%;
  float: left;
}

.TC2 {
  width: 50%;
  float: left;
}

.TC3 {
  width: 25%;
  float: left;
}

.close {
  position: absolute;
  top: 5px;
  right: 5px;
  margin-top: 5px;
  margin-right: 5px;
  z-index: 1;
  color: white;
  text-shadow: none;
}

@-webkit-keyframes blink {
   50% { border-color: #ff0000; }
}
@keyframes blink {
   50% { border-color: #ff0000; }
}
