/*
margin
padding
height
width
float
clear
fonts
color
background-color
border-style
border-color
border-width
*/
html {
  height: 100%;
  width: 100%;
}

body {
  height: 100%;
  width: 100%;
  font-size: 11pt;
  color: white;
}

button:focus {
  outline: 0;
}

#root {
  height: 100%;
  width: 100%;
}

.App {
  height: 100%;
  width: 100%;
}

/**********
 * LAYOUT *
 **********/

#left {
  height: 100%;
  width: 66%;
  float: left;
  background-color: black;
}

#rounds {
  padding: 15px 0px 15px 0px;
  height: 10%;
  width: 80%;
  float: left;
  background-color: #1C1C1C;
}

.round {
  margin-left: 0.1%;
  margin-right: 0.1%;
  height: 100%;
  width: 3.125%;
  float: left;
  background-color: #1C1C1C;
  border: solid;
  border-radius: 3px;
  border-width: 1px;
  border-color: white;
}

.roundActive {
  animation: blink 1s step-end infinite alternate;
  -webkit-animation: blink 1s step-end infinite alternate;
}

.terrorists {
  color: black;
  background-color: #F0C557;
}

.cts {
  color: black;
  background-color: #88C3F3;
}

.winReason {
  height: auto;
  width: 100%;
}

#economy {
  padding: 15px 0px 15px 5px;
  height: 10%;
  width: 10%;
  float: left;
  background-color: #1C1C1C;
}

#economyBtn {
  height: 100%;
  width: 100%;
  background-color: #1C1C1C;
}

#economyVisual {
  position: absolute;
  top: 10%;
  left: 0;
  height: 50%;
  width: 66%;
  z-index: 1;
  background-color: #1C1C1C;
  border: solid;
  border-width: 5px;
  border-color: white;
}

#map {
  padding: 15px 0px 15px 5px;
  height: 10%;
  width: 10%;
  float: left;
  background-color: #1C1C1C;
}

#mapBtn {
  padding: 10px;
  height: 100%;
  width: 100%;
  background-color: #1C1C1C;
}

#mapVisual {
  position: absolute;
  top: 15%;
  left: 10%;
  height: 772px;
  width: 972px;
  z-index: 1;
  background-color: #1C1C1C;
  border: solid;
  border-width: 2px;
  border-color: white;
  display: inline-block;
}

#mapOptions {
  padding: 10px;
  height: 100%;
  width: 200px;
  float: left;
  border-right: solid;
  border-right-width: 2px;
  border-right-color: white;
}

#mapGraph {
  height: 100%;
  width: 768px;
  float: left;
}

#media {
  height: 90%;
  width: 100%;
  float: left;
  clear: left;
}

#sidebar {
  padding: 15px;
  height: 100%;
  width: 34%;
  float: right;
  background-color: #1C1C1C;
}

#scoreboard {
  height: 42%;
  width: 100%;
  float: left;
  color: black;
}

#team1 {
  width: 50%;
  float: left;
  background-color: #F0C557;
}

#team2 {
  width: 50%;
  float: left;
  background-color: #88C3F3;
}

.player {
  padding: 5px 5px 0px 5px;
  float: left;
  border-style: solid;
  border-color: black;
  border-width: 1px;
}

#money {
  padding: 1% 1px 1% 1px;
  height: 11%;
  width: 100%;
  float: left;
  clear: left;
  text-align: center;
}

.progress {
  margin-top: 3px;
  margin-bottom: 5px;
  height: 1.2rem;
}

.progress-bar-warning {
  background-color: #F0C557;
}

.progress-bar-info {
  background-color: #88C3F3;
}

#damage {
  height: 23%;
  width: 100%;
  float: left;
  clear: left;
}

#damageGraph {
  margin-right: 25px;
  height: 100%;
}

#adr {
  height: 23%;
  width: 100%;
  float: left;
  clear: left;
}

#adrGraph {
  margin-right: 25px;
  height: 100%;
}

/******************
 * HELPER CLASSES *
 ******************/

 .image {
   height: 100%;
   width: auto;
 }

.fill {
  height: 99%;
  width: 100%;
}

.left-text {
  text-align: left;
}

.middle-text {
  text-align: center;
}

.right-text {
  text-align: right;
}

.left-float {
  float: left;
}

.middle-float {
  float: center;
}

.right-float {
  float: right;
}

.left-block {
  float: left;
}

.middle-block {
  display: inline-block;
}

.right-block {
  float: right;
}

.TC1 {
  width: 25%;
  float: left;
}

.TC2 {
  width: 50%;
  float: left;
}

.TC3 {
  width: 25%;
  float: left;
}

.close {
  position: absolute;
  right: 5px;
  top: 5px;
  margin-top: 5px;
  margin-right: 5px;
  color: white;
  text-shadow: none;
  z-index: 1;
}

@-webkit-keyframes blink {
   50% { border-color: #ff0000; }
}
@keyframes blink {
   50% { border-color: #ff0000; }
}
